.input,
.full-width {
  width: 100%;
}
.login-card-width{
  width: 90%;
  max-width: 400px;
}
.text-info {
  color: var(--info-color);
}
.p-2 {
  padding: 2rem;
}
.small-gap {
  gap: 4px;
}
.outline-btn {
  background-color: none;
  border: 2px solid var(--info-color);
  border-radius: 4px;
  padding: 4px;
}
.outline-btn:hover {
  background-color: var(--info-color);
  color: var(--white-color);
}
.mt-1{
  margin-top: 1rem;
}
@media screen and (max-width: 500px) {
  .input::placeholder {
    font-size: 1rem;
  }
  .icon.chevron-right {
    font-size: 2rem;
  }
  .login-card-width {
    width: 60%;
    max-width: 400px;
  }
}
