.product-details {
  width: 80%;
}
.product-image {
  width: 100%;
  height: 40vh;
}
@media screen and (min-width: 700px) {
  .product-image {
    width: 35%;
    height: 70vh;
  }
  .product-details {
    width: 60%;
  }
  .sticky-image {
    position: sticky;
    top: 2rem;
  }
}
